@charset "utf-8";
/* CSS Document */

* { padding:0; margin:0; border:0;}
body { font-size:0.75em; line-height:1.5; color:#666;  font-family: "나눔고딕", "맑은고딕", "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a { text-decoration:none; color:#333;}
input{border:1px #999 solid;}
 
.wrap { }
.header { border-bottom:2px solid #39f; text-align:center; background: #f5f5f5;}
 
.content {}
h1 { padding:30px; font-weight:normal; color:#000; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
h2 { font-weight:normal; color:#999; font-size:1.2em;}
ul, li { list-style:none;}
.sp { width:100%; border-bottom:1px dotted #ccc; clear:both; height:50px;}
 
 
.course { width:600px;margin:50px auto; }
.title { width:600px;}
.list { width:500px; float:left; margin-left:50px;}
.list_01 { width:500px; float:left; margin-left:50px;}
.list_02 { width:700px; float:left; margin-left:50px;}
.list_final_item { width:400px; float:left; margin-left:10px;}
 
.title { margin-top:-10px;}
.title .subject { display:block; font-size:1.4em;}
.title .page { display:block; padding-left:5px; color:#000;}
.title .summary{ font-size:11px; color:#999; padding-left:3px; display:block;}
 
.list li { padding: 10px; border-bottom:1px dotted #999;}
.list li:hover { background-color:#f5f5f5; cursor:pointer;}
.list li.last {border-bottom:none;}
.list .subject { display:inline-block; width:500px; font-size:1.4em; color:#333;}a
.list .subject.last {border-bottom:none;}
.list .page { display:inline-block; width:50px; text-align:right; float:right; color:#bbb;}
.list .sub { display:block; font-size:0.9em; color:#999;}

.list_01 .subject { display:inline-block; width:500px; font-size:1.4em; color:#333;}
.list_01 p{color:#777;}
.list_01 li{line-height:1.8;}

.list_final_item li:hover { background-color:#f5f5f5; cursor:pointer;}

.personal{
	text-align: right;
}
h2 .subject { color:#39f;}
h2 .subject { color:#39f;}

.form{margin-top:20px; margin-left:100px; width:280px; height:100px; border:1px #999 solid; padding:10px;}
.form_01{margin-top:20px; margin-left:100px; width:280px; height:160px; border:1px #999 solid; padding:10px;}
.form_02{margin-top:25px; margin-left:10px; width:280px; height:100px; border:1px #999 solid; padding:10px;}

#main_contents_wrap { background-color: #f0f1f5; }
#main_contents a { text-decoration: none; }
#main_contents { padding-top: 25px; overflow: hidden; }
.main_news { width: 819px; height: 311px; position: relative; margin-bottom: 15px; overflow: hidden; float: left; }
.main_news ul li { float: left; }
.main_news ul li:first-child { z-index: 5; }
.main_news ul li:first-child+li { z-index: 4; }
.main_news ul li:first-child+li+li { z-index: 3; }
.main_news ul li:first-child+li+li+li { z-index: 2; }
.main_news ul li.on { position: relative; }
.main_news ul li a { display: block; position: relative; }
.main_news ul li a:before { content: ''; display: block; width: 100%; min-height: 311px; background: url(../../images/com/main_newsover.png) left top no-repeat; position: absolute; left: 0; top: 0; }
.main_news ul li img { max-width: 819px; min-height: 311px; width: 100%; height: auto; }
.main_news ul li strong { display: inline-block; position: absolute; top: 25px; left: 25px; font-size: 22px; line-height: 1.4; color: #fff; }
.main_news ul li strong:after { content: ''; width: 30px; height: 1px; background: #fff; display: block; margin: 10px 0 20px; }
.main_news ul li span { display: block; font-size: 14px; font-weight: normal; position: absolute; bottom: -10px; }
.main_news a.no:before, .main_news .no strong { display: none; }
.main_news .conbar { position: absolute; right: 0px; bottom: 0px; z-index: 99; width: 36px; height: 35px; line-height: 35px; font-size: 13px; color: #fff; background-color: #1f2d5c; text-align: center; }
.main_news a[class^="btn"] { display: inline-block; background-color: #1f2d5c; width: 35px; height: 35px; padding: 12px; text-indent: -9999px; overflow: hidden; z-index: 99; box-sizing: border-box; position: absolute; bottom: 0px; right: 112px; }
.main_news a[class^="btn"]:before { content: ''; background: url(../../images/com/iconset_main.png) no-repeat; background-position: 0 -25px; display: block; width: 7px; height: 11px; position: absolute; left: 50%; margin-left: -3px; }
.main_news a.btn_stop { right: 75px; }
.main_news a.btn_play { right: 75px; }
.main_news a.btn_next { right: 38px; }
.main_news a.btn_stop:before { background-position: -50px -25px; }
.main_news a.btn_play:before { background-position: -75px -25px; }
.main_news a.btn_next:before { background-position: -25px -25px; }
.main_news .bx-controls { position: absolute; left: 5px; bottom: 0px; }
.main_news .bx-controls div { display: inline-block; padding: 0 3px; }
.main_news .bx-controls a { width: 9px; height: 9px; border: 2px solid #fff; border-radius: 13px; display: inline-block; text-indent: -9999px; overflow: hidden; }
.main_news .bx-controls a.active { width: 16px; background-color: #fff; }

